<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/{{css}}">
</head>
<body>
  <header>
  <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="好。吃">
            EAR || DIE
        </a>
        <a class="btn btn-info" href="/restaurants/new">加入新餐廳</a>
      </div>
    </nav>
    {{#ifEqual css 'index.css'}}
    <h1 class="slogan">EAT or DIE</h1>
    {{/ifEqual}}
    <div class="banner"></div>
  </header>
  {{!-- main content --}}
  {{{body}}}
  {{!-- scripts --}}
  <script src="/public/javascript/jquery-3.3.1.js"></script>
  <script src="/public/javascript/popper.min.js"></script>
  <script src="/public/javascript/bootstrap.js"></script>
  {{!-- popup function --}}
  <script>
    function deleteAlert() {
    return confirm(`你確定要刪除這間餐廳嗎？`)
    }
  </script>
</body>
</html>